* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Lato', sans-serif;
}

p{
  font-size: 20px;
  font-weight: 400;
  padding-top: 15px;
  color: #00857c;
}

.outer{
  text-align: center;
  padding:20px;
  background-color: white;
}
.page{
  max-width: 1200px;
  width: 100%;
  display:inline-block;
  padding: 10px;
}

.hero{
  max-width: 1200px;
  width: 100%;
/*  border: 1px solid black;*/
}

img{
  width: 100%;
}

.content{
  display:inline-block;
  vertical-align: middle;
  text-align: left;
  width: 45%;
}

.content p{
  padding-left: 25px;
}

.block{
  max-width: 800px;
  width:100%;
/*  border: 1px solid black;*/
  background-color: #00857c;
  display: inline-block;
}

.block p{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel{
  max-width: 400px;
  width:100%;
/*  border: 1px solid black;*/
  display: inline-block;
  text-align: left;
}

.carousel p{
  padding-left: 10px;
}

.h1{
  font-size: 32px;
  font-weight: 700;
}

.h2{
  font-size: 32px;
  font-weight: 300;
}

.eyebrow{
  font-size:16px;
  font-weight: 300;
}

.link{
  background-color: #00857c;
  text-align: right;
  max-width: 100px;
  float: right;
  margin: 10px;
}

.link p{
  padding:5px 15px 5px 15px;
  color: white;
}
